<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
        <!-- che-i18n:hreflang:start -->
        
            <link rel="canonical" href="https://cheroliv.com/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html"/>
        
        
            <link rel="alternate" hreflang="fr" href="https://cheroliv.com/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html"/>
            <link rel="alternate" hreflang="en" href="https://cheroliv.com/en/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html"/>
            <link rel="alternate" hreflang="zh" href="https://cheroliv.com/zh/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html"/>
            <link rel="alternate" hreflang="hi" href="https://cheroliv.com/hi/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html"/>
            <link rel="alternate" hreflang="es" href="https://cheroliv.com/es/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html"/>
            <link rel="alternate" hreflang="ar" href="https://cheroliv.com/ar/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html"/>
            <link rel="alternate" hreflang="bn" href="https://cheroliv.com/bn/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html"/>
            <link rel="alternate" hreflang="pt" href="https://cheroliv.com/pt/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html"/>
            <link rel="alternate" hreflang="ru" href="https://cheroliv.com/ru/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html"/>
            <link rel="alternate" hreflang="ur" href="https://cheroliv.com/ur/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html"/>
            <link rel="alternate" hreflang="it" href="https://cheroliv.com/it/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html"/>
            <link rel="alternate" hreflang="nl" href="https://cheroliv.com/nl/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html"/>
            <link rel="alternate" hreflang="de" href="https://cheroliv.com/de/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html"/>
            <link rel="alternate" hreflang="el" href="https://cheroliv.com/el/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html"/>
            <link rel="alternate" hreflang="tr" href="https://cheroliv.com/tr/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html"/>
            <link rel="alternate" hreflang="vi" href="https://cheroliv.com/vi/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html"/>
            <link rel="alternate" hreflang="th" href="https://cheroliv.com/th/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html"/>
            <link rel="alternate" hreflang="id" href="https://cheroliv.com/id/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html"/>
            <link rel="alternate" hreflang="ko" href="https://cheroliv.com/ko/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html"/>
            <link rel="alternate" hreflang="ja" href="https://cheroliv.com/ja/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html"/>
            <link rel="alternate" hreflang="sr" href="https://cheroliv.com/sr/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html"/>
            <link rel="alternate" hreflang="fa" href="https://cheroliv.com/fa/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html"/>
            <link rel="alternate" hreflang="x-default" href="https://cheroliv.com/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html"/>
        
        <!-- che-i18n:hreflang:end -->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Cheroliv - Développeur Formateur | Ingénierie Pédagogique</title>

    <script>
        // IIFE to avoid polluting global scope
        (function() {
          try {
            const theme = localStorage.getItem('preferred-theme');
            if (theme) {
              document.documentElement.setAttribute('data-bs-theme', theme);
            }
          } catch (e) {
            // Reading from localStorage can fail in private browsing mode on some browsers
            console.warn('Could not set theme from localStorage', e);
          }
        })();
    </script>

    <!-- Bootstrap 5.3 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.css" rel="stylesheet" integrity="sha384-Bk5cbLkZQ5raZ0+H2/+VbfYx3WpvxvQK4zqXZr7sYODuaX7bKXoSOnipQxkaS8sv" crossorigin="anonymous" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- intl-tel-input CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@25.10.1/build/css/intlTelInput.css" integrity="sha384-huckmaRY7yjByQizNg4/mcNFFWSCC1CCl6aFYN9cGKc7zuKh7+XNuoSpLwyEgCmk" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="../../css/styles.css" rel="stylesheet" />

    <!-- highlight.js: theme will be managed dynamically by script.js -->
    <link id="highlight-js-theme" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/default.min.css" integrity="sha384-4Y0nObtF3CbKnh+lpzmAVdAMtQXl+ganWiiv73RcGVdRdfVIya8Cao1C8ZsVRRDz" crossorigin="anonymous">

    <link href="../../css/asciidoctor.css" rel="stylesheet"/>



    <!-- Favicon -->
    <link rel="shortcut icon"
          href="../..//img/cheroliv_logo_icon.png"/>



    <!-- Meta tags pour SEO -->
    <meta name="description" content="Développeur formateur spécialisé en ingénierie pédagogique. Conception et développement de solutions e-learning innovantes."/>
    <meta name="keywords" content="développement, formation, e-learning, ingénierie pédagogique, JavaScript, Bootstrap"/>
    <meta name="author" content="Cheroliv"/>
</head>
<body>
<div class="main-content-wrapper">
    <div>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <a class="navbar-brand fw-bold" href="../../index.html#home">
                <i class="bi bi-code-slash me-2"></i>
                Cheroliv
            </a>

            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="نیویگیشن ٹوگل کریں">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto align-items-start">
                    <li class="nav-item">
                        <a class="nav-link" href="../../index.html#home">صفحہ اول</a>
                    </li>
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" th:href="${isIndexPage ? '#about' : content.rootpath + 'index.html#about'}">À propos</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" th:href="${isIndexPage ? '#services' : content.rootpath + 'index.html#services'}">Services</a>-->
<!--                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link" href="../../index.html#expertise">مہارتیں</a>
                    </li>
<!--                    <li class="nav-item"> -->
<!--                        <a class="nav-link" th:href="${isIndexPage ? '#formations' : content.rootpath + 'index.html#formations'}">Formations</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" th:href="${isIndexPage ? '#portfolio' : content.rootpath + 'index.html#portfolio'}">Portfolio</a>-->
<!--                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link" href="../../blog.html">بلاگ</a>
                    </li>
<!--                    <li class="nav-item dropdown">-->
<!--                        <a class="nav-link dropdown-toggle"-->
<!--                           href="#"-->
<!--                           id="memosDropdown"-->
<!--                           role="button"-->
<!--                           data-bs-toggle="dropdown"-->
<!--                           aria-expanded="false">-->
<!--                            <i class="fa-duotone fa-memo"></i> Memos-->
<!--                        </a>-->
<!--                        <ul class="dropdown-menu" aria-labelledby="memosDropdown">-->
<!--                            <li><a class="dropdown-item" th:href="@{${content.rootpath} + 'blog/2022/0052_memo_jvm_post.html'}"><i class="fa-brands fa-java"></i> jvm</a></li>-->
<!--                            <li><a class="dropdown-item" th:href="@{${content.rootpath} + 'blog/2022/0053_memo_kotlin_post.html'}"><i class="fa-brands fa-korvue"></i> kotlin</a></li>-->
<!--                            <li><a class="dropdown-item" th:href="@{${content.rootpath} + 'blog/2022/0047_memo_gradle_post.html'}"><i class="fa-solid fa-industry"></i> gradle</a></li>-->
<!--                            <li><a class="dropdown-item" th:href="@{${content.rootpath} + 'blog/2023/0060_memo_js_post.html'}"><i class="fa-brands fa-square-js"></i> javascript</a></li>-->
<!--                            <li><a class="dropdown-item" th:href="@{${content.rootpath} + 'blog/2023/0063_memo_ts_post.html'}"><i class="fa-brands fa-square-js"></i> typescript</a></li>-->
<!--                            <li><a class="dropdown-item" th:href="@{${content.rootpath} + 'blog/2023/0062_memo_css_post.html'}"><i class="fa-brands fa-css3-alt"></i> css</a></li>-->
<!--                            <li><a class="dropdown-item" th:href="@{${content.rootpath} + 'blog/2023/0061_memo_html_post.html'}"><i class="fa-brands fa-html5"></i> html</a></li>-->
<!--                            <li><a class="dropdown-item" th:href="@{${content.rootpath} + 'blog/2023/0066_memo_python_post.html'}"><i class="fa-brands fa-python"></i> python</a></li>-->
<!--                            <li><a class="dropdown-item" th:href="@{${content.rootpath} + 'blog/2020/0021_memo_git_post.html'}"><i class="fa-brands fa-git-alt"></i> git</a></li>-->
<!--                            <li><a class="dropdown-item" th:href="@{${content.rootpath} + 'blog/2021/0030_memo_linux_post.html'}"><i class="fa-brands fa-linux"></i> linux</a></li>-->
<!--                            <li><a class="dropdown-item" th:href="@{${content.rootpath} + 'blog/2022/0054_memo_cadrage_post.html'}"><i class="fa-solid fa-arrows-split-up-and-left"></i> cadrage</a></li>-->
<!--                            <li><a class="dropdown-item" th:href="@{${content.rootpath} + 'blog/2022/0031_memo_design_system_post.html'}"><i class="fa-solid fa-pencil"></i> design system</a></li>-->
<!--                            <li><a class="dropdown-item" th:href="@{${content.rootpath} + 'blog/2020/0016_asciidoc_markdown_memo_post.html'}"><i class="fa-brands fa-markdown"></i> asciidoc/markdown</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" th:href="${isIndexPage ? '#contact' : content.rootpath + 'index.html#contact'}">Contact</a>-->
<!--                    </li>-->

                    <li class="nav-item">
                        <a class="nav-link" href="../../index.html#contact">رابطہ</a>
                    </li>
                </ul>
                <!-- Theme Switcher moved outside the ul for simpler flexbox calculation -->
                <div class="nav-item dropdown theme-switcher-container ms-lg-3">
                    <button class="btn btn-outline-secondary dropdown-toggle theme-dropdown-btn"
                            type="button"
                            id="themeDropdown"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            aria-label="انٹرفیس تھیم منتخب کریں">
                        <i class="bi bi-sun"></i>
                        <span id="current-theme" class="visually-hidden">Light</span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="themeDropdown">
                        <li><button class="dropdown-item theme-option"
                                    type="button"
                                    data-theme="light">
                            <i class="bi bi-sun me-2"></i>روشن
                        </button></li>
                        <li><button class="dropdown-item theme-option" type="button" data-theme="dark">
                            <i class="bi bi-moon me-2"></i>تاریک
                        </button></li>
                        <li><button class="dropdown-item theme-option" type="button" data-theme="high-contrast">
                            <i class="bi bi-circle-half me-2"></i>ہائی کنٹراسٹ
                        </button></li>
                    </ul>
                </div>
<!-- che-i18n:lang-switcher:start -->
                <div class="nav-item dropdown lang-switcher-container ms-lg-2">
                    <button class="btn btn-outline-secondary dropdown-toggle lang-dropdown-btn"
                            type="button"
                            id="langDropdown"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            aria-label="زبان منتخب کریں">
                        <span class="me-1">🇵🇰</span>
                        <span class="ms-1">UR</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="langDropdown">
                        <li><a class="dropdown-item lang-option" href="../../../en/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html" data-lang="en">
                            <span class="lang-flag me-2" aria-hidden="true">🇬🇧</span>English
                        </a></li>
                        <li><a class="dropdown-item lang-option" href="../../../zh/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html" data-lang="zh">
                            <span class="lang-flag me-2" aria-hidden="true">🇨🇳</span>中文
                        </a></li>
                        <li><a class="dropdown-item lang-option" href="../../../hi/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html" data-lang="hi">
                            <span class="lang-flag me-2" aria-hidden="true">🇮🇳</span>हिन्दी
                        </a></li>
                        <li><a class="dropdown-item lang-option" href="../../../es/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html" data-lang="es">
                            <span class="lang-flag me-2" aria-hidden="true">🇪🇸</span>Español
                        </a></li>
                        <li><a class="dropdown-item lang-option" href="../../../blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html" data-lang="fr">
                            <span class="lang-flag me-2" aria-hidden="true">🇫🇷</span>Français
                        </a></li>
                        <li><a class="dropdown-item lang-option" href="../../../ar/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html" data-lang="ar">
                            <span class="lang-flag me-2" aria-hidden="true">🇸🇦</span>العربية
                        </a></li>
                        <li><a class="dropdown-item lang-option" href="../../../bn/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html" data-lang="bn">
                            <span class="lang-flag me-2" aria-hidden="true">🇧🇩</span>বাংলা
                        </a></li>
                        <li><a class="dropdown-item lang-option" href="../../../pt/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html" data-lang="pt">
                            <span class="lang-flag me-2" aria-hidden="true">🇵🇹</span>Português
                        </a></li>
                        <li><a class="dropdown-item lang-option" href="../../../ru/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html" data-lang="ru">
                            <span class="lang-flag me-2" aria-hidden="true">🇷🇺</span>Русский
                        </a></li>
                        <li><a class="dropdown-item lang-option active" href="0120_cumuler_deux_abonnements_ollama_pro_docker_post.html" data-lang="ur">
                            <span class="lang-flag me-2" aria-hidden="true">🇵🇰</span>اردو
                        </a></li>
                        <li><a class="dropdown-item lang-option" href="../../../it/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html" data-lang="it">
                            <span class="lang-flag me-2" aria-hidden="true">🇮🇹</span>Italiano
                        </a></li>
                        <li><a class="dropdown-item lang-option" href="../../../nl/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html" data-lang="nl">
                            <span class="lang-flag me-2" aria-hidden="true">🇳🇱</span>Nederlands
                        </a></li>
                        <li><a class="dropdown-item lang-option" href="../../../de/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html" data-lang="de">
                            <span class="lang-flag me-2" aria-hidden="true">🇩🇪</span>Deutsch
                        </a></li>
                        <li><a class="dropdown-item lang-option" href="../../../el/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html" data-lang="el">
                            <span class="lang-flag me-2" aria-hidden="true">🇬🇷</span>Ελληνικά
                        </a></li>
                        <li><a class="dropdown-item lang-option" href="../../../tr/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html" data-lang="tr">
                            <span class="lang-flag me-2" aria-hidden="true">🇹🇷</span>Türkçe
                        </a></li>
                        <li><a class="dropdown-item lang-option" href="../../../vi/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html" data-lang="vi">
                            <span class="lang-flag me-2" aria-hidden="true">🇻🇳</span>Tiếng Việt
                        </a></li>
                        <li><a class="dropdown-item lang-option" href="../../../th/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html" data-lang="th">
                            <span class="lang-flag me-2" aria-hidden="true">🇹🇭</span>ไทย
                        </a></li>
                        <li><a class="dropdown-item lang-option" href="../../../id/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html" data-lang="id">
                            <span class="lang-flag me-2" aria-hidden="true">🇮🇩</span>Bahasa Indonesia
                        </a></li>
                        <li><a class="dropdown-item lang-option" href="../../../ko/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html" data-lang="ko">
                            <span class="lang-flag me-2" aria-hidden="true">🇰🇷</span>한국어
                        </a></li>
                        <li><a class="dropdown-item lang-option" href="../../../ja/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html" data-lang="ja">
                            <span class="lang-flag me-2" aria-hidden="true">🇯🇵</span>日本語
                        </a></li>
                        <li><a class="dropdown-item lang-option" href="../../../sr/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html" data-lang="sr">
                            <span class="lang-flag me-2" aria-hidden="true">🇷🇸</span>Srpski
                        </a></li>
                        <li><a class="dropdown-item lang-option" href="../../../fa/blog/2026/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html" data-lang="fa">
                            <span class="lang-flag me-2" aria-hidden="true">🇮🇷</span>فارسی
                        </a></li>
                    </ul>
                </div>
<!-- che-i18n:lang-switcher:end -->
            </div>
        </div>
    </nav>
</div>
    <main class="container main-content-padding" id="main-content">
        <article>
            <header class="page-header mb-4">
                <h1 class="h2">ڈاکر کے ساتھ ایک ہی مشین پر دو Ollama Pro اشتراكات کو جمع کریں</h1>
                <p class="lead">
                    <em>شائع شدہ: 08 May 2026</em>
                    
                </p>
            </header>

            <div class="content"><div id="toc" class="toc">
<div id="toctitle">Table des matières</div>
<ul class="sectlevel1">
<li><a href="#_مقدمه">مقدمه</a></li>
<li><a href="#_کیا_دو_بار_ایک_ہی_چیز">کیا دو بار ایک ہی چیز؟</a></li>
<li><a href="#_مسئله_کا_دل_ڈیوائس_کلید">مسئله کا دل : ڈیوائس کلید</a></li>
<li><a href="#_تیاری_قدم_بہ_قدم">تیاری — قدم بہ قدم</a>
<ul class="sectlevel2">
<li><a href="#_پیش_شرط">پیش شرط</a></li>
<li><a href="#_قدم_1_حجم_بنانا">قدم 1: حجم بنانا</a></li>
<li><a href="#_مرحلہ_2_ڈاکر_کنٹینر_চালائیں">مرحلہ 2 : ڈاکر کنٹینر চালائیں</a></li>
<li><a href="#_مرحلہ_3_عوامی_کلی_حاصل_کریں">مرحلہ 3: عوامی کلی حاصل کریں</a></li>
<li><a href="#_مرحلہ_4_ollama_com_پر_کلید_محفوظ_کریں">مرحلہ 4 : Ollama.com پر کلید محفوظ کریں</a></li>
<li><a href="#_مرحلہ_5_ایک_چھوٹا_مفت_ماڈل_کے_ساتھ_آزمائش_کریں">مرحلہ 5: ایک چھوٹا مفت ماڈل کے ساتھ آزمائش کریں</a></li>
</ul>
</li>
<li><a href="#_api_v1models_کا_پچال">API <code>/v1/models</code> کا پچال</a></li>
<li><a href="#_نتیجہ_دو_سیشنز_دو_اکاؤنٹس_صفر_تنازع">نتیجہ : دو سیشنز، دو اکاؤنٹس، صفر تنازع</a></li>
<li><a href="#_سیکھے_گئے_سیکھات">سیکھے گئے سیکھات</a></li>
<li><a href="#_مزید_آگے_جانے">مزید آگے جانے</a></li>
</ul>
</div>
<div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<div class="title">وقت پڑھائی : 14 minutes</div>
<p>دو پرو کے اشتراکات، ایک مشین، ایک بینک کارڈ، اور نٹ ورک کا صفر تصادم۔ ڈاکر نے مجھے اجازت دی، بغير ایک دوسرا پی سی خریدے، میری کلاؤڈ انفرنس کی صلاحیت دگنا کرنے کی۔</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_مقدمه">مقدمه</h2>
<div class="sectionbody">
<div class="paragraph">
<p>میں پچھلے چند ماہ سے Ollama Pro استعمال کر رہا ہوں apni OpenCode sessions کو cloud models کے ذریعے چلانے کے لیے۔ بات یہ ہے کہ Pro subscription کے بعد بھی، parallel میں کئی ایجنٹس چلاتے وقت جلد سے <strong>rate limiting</strong> کی حد سے مٹ کھاتے ہیں۔واضح حل: دوسرا subscription۔</p>
</div>
<div class="paragraph">
<p>لیکن یہاں، یہ مصیبت ہے۔</p>
</div>
<div class="paragraph">
<p>Ollama har machine ko ek unique SSH key ke zariye identify karti hai — uski mashhoor <strong>Device Key</strong>. Aik sae OS par do instances apni ekhi identidad share karti hain, aur do Pro accounts ko aik hi device se link karna mumkin nahi. Aur jaise aap kheyal karte hain, main isliye dusra laptop kharidne wala nahi tha.</p>
</div>
<div class="paragraph">
<p>حل: دھوکا۔ Ollama ko yakeen dilana ke woh do alag machines par chal raha hai, lekin woh aik saath CPU, RAM aur network connection share karte hain۔ Docker humein mukammal isolation ki aik burbulah provide karega۔</p>
</div>
<div class="listingblock">
<div class="content">
<pre>@startuml
!theme plain
skinparam BoxPadding 10
skinparam DefaultFontSize 12

left to right direction

node "مشین فزیکی" {
  frame "Ollama انسٹنس اے (آصلی)" as Native {
    database "پہچان
/usr/share/ollama/.ollama/id_ed25519" as KeyA
    portin "API
:11434" as PortA
  }

  frame "Ollama نمونہ B (Docker)" as Docker {
    database "پہچان
~/ollama-b-data/id_ed25519" as KeyB
    portin "API
:11435" as PortB
  }
}

cloud "اُلاما کلاؤڈ" {
  actor "اکاؤنٹ Pro A
(ایمیل 1)" as AccountA
  actor "اکاؤنٹ پرو B\n(ای میل 2)" as AccountB
}

KeyA --&gt; AccountA : "کلی SSH اے"
KeyB --&gt; AccountB : "SSH کی ب"
PortA --&gt; AccountA : "درخواست A"
PortB --&gt; AccountB : "کوئریاں B"

note bottom of Docker
  Conteneur isolé : identité SSH distincte,
  port réseau distinct, volume persistant
end note
@enduml</pre>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_کیا_دو_بار_ایک_ہی_چیز">کیا دو بار ایک ہی چیز؟</h2>
<div class="sectionbody">
<div class="paragraph">
<p>میں ذہنی بیماری سمجھنے سے پہلے، مجھے اجازت دیں کہ استعمال کے کیس کا وضاحت کروں۔</p>
</div>
<div class="paragraph">
<p>ایک Pro subscription کے ساتھ، میں ایک مڈل لاچ کر سکتا ہوں جیسے`deepseek-v4-pro:cloud`ایک OpenCode سیشن میں۔ مُشکل تو آتی ہے جب میں <strong>دو</strong> ایک ساتھ سیشن چاہتا ہوں۔ ريٹ ليمٹنگ کے حصص کی وجہ سے دوسری سیشن سست ہو جاتی ہے یا بالکل رد کر دی جاتی ہے۔</p>
</div>
<div class="paragraph">
<p>دو مستقل Pro اشتراکات کے ساتھ :</p>
</div>
<div class="ulist">
<ul>
<li>
<p>سیشن OpenCode 1 → حساب پرو A (<code>localhost:11434</code>)</p>
</li>
<li>
<p>سیشن OpenCode 2 → اکاؤنٹ Pro B (<code>localhost:11435</code>)</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>ہر سیشن کا اپنا کوٹا، اپنا سیاق و سباق ہوتا ہے، اور دوسری پر اثر نہیں ڈالتا۔ یہ انسانی ملٹی‑پروسسنگ ہے۔</p>
</div>
<div class="admonitionblock important">
<table>
<tr>
<td class="icon">
<i class="fa icon-important" title="❗"></i>
</td>
<td class="content">
<div class="paragraph">
<p>دو Pro subscrpitions = دو مختلف ایمیل۔ یوں ہی بینک کارڈ کام کرتی ہے — Ollama ادائیگی کا نظام multiples subscrpitions کو بلوک نہیں کرتا ہے۔میں نے جانچ کی۔</p>
</div>
</td>
</tr>
</table>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_مسئله_کا_دل_ڈیوائس_کلید">مسئله کا دل : ڈیوائس کلید</h2>
<div class="sectionbody">
<div class="paragraph">
<p>جیسے آپ Ollama انسٹال کرتے ہیں، ایک جفت ed25519 SSH کلیدیں خود شناسی ڈائریکٹری میں پیدا ہو جاتی ہیں:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-bash hljs" data-lang="bash">$ cat /usr/share/ollama/.ollama/id_ed25519.pub
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAI...</code></pre>
</div>
</div>
<div class="paragraph">
<p>یہ کلید Ollama کے سرورز پر اپلوڈ ہو رہی ہے۔<code>ollama signin</code>. وہی بتاتی ہے کہ « یہ مشین پرو اکاؤنٹ سے متعلق ہے ». اگر آپ کے دو انسٹینس ایک ہی فائل کو شیئر کرتی ہیں`id_ed25519`, وہ ایک ہی شناخت رکھتے ہیں.เกม का ختام.</p>
</div>
<div class="paragraph">
<p>حیل: ہمري دوسری انسٹنس کو اپنی خود کی identity ڈائریکٹری فراہم کریں، جو ایک ڈاکر وولیم میں الگ ہو۔</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_تیاری_قدم_بہ_قدم">تیاری — قدم بہ قدم</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_پیش_شرط">پیش شرط</h3>
<div class="ulist">
<ul>
<li>
<p>Ollama کی نٹیو انسٹالیشن کارکردہ (رسمی سکرپٹ`curl | sh`)</p>
</li>
<li>
<p>ڈاکر انسٹال شدہ اور فعال</p>
</li>
<li>
<p>Portainer یا docker-compose کے لیے ڈปลویمنت</p>
</li>
<li>
<p>دویں Ollama اکانٹس، دو الگ ایمیل کے ساتھ</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>میں نے ورژن استعمال کی`0.20.2`— جسےofficial script اور متناظر ڈاکر ایمیج کے ذریعے فراہم کردہ</p>
</div>
</div>
<div class="sect2">
<h3 id="_قدم_1_حجم_بنانا">قدم 1: حجم بنانا</h3>
<div class="paragraph">
<p>ہوست پر ایک سادہ ڈائریکٹری انستانس B کی شناخت کے لیے مستقل ہونے والی والیم کے طور پر کام کرے گی :</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-bash hljs" data-lang="bash">mkdir -p ~/ollama-b-data</code></pre>
</div>
</div>
<div class="paragraph">
<p>یہ ڈائریکٹری ڈاکر کنٹینر میں جوڑ دی جائے گی`/root/.ollama`, jahan Ollama apni shakehnati klideen, tareekh aur models muhfooz rakhta hai</p>
</div>
</div>
<div class="sect2">
<h3 id="_مرحلہ_2_ڈاکر_کنٹینر_চালائیں">مرحلہ 2 : ڈاکر کنٹینر চালائیں</h3>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-yaml hljs" data-lang="yaml"># docker-compose.yml
services:
  ollama-instance-b:
    image: ollama/ollama:0.20.2
    container_name: ollama-instance-b
    ports:
      - "11435:11434"
    volumes:
      - /home/cheroliv/ollama-b-data:/root/.ollama
    environment:
      - OLLAMA_HOST=0.0.0.0
    restart: always</code></pre>
</div>
</div>
<div class="paragraph">
<p>یہاں کیا ہو رہا ہے :</p>
</div>
<div class="ulist">
<ul>
<li>
<p>بندر گاہ<strong>11435</strong>ہست کا منٹاپ کیا گیا ہے پر<strong>11434</strong>کنٹینر کے اندر. اس لیے, ڈاکر انستانس پر سن رہا ہے`:11435`بے تنازع کے ساتھ بنیادی مثال جس نے قبضہ کر رکھا ہے`:11434`.</p>
</li>
<li>
<p>حجم`~/ollama-b-data`پر لگایا گیا`/root/.ollama`— یہ وہ جگہ ہے جہاں SSH کی پہچان محفوظ رکھي جائے گی۔</p>
</li>
<li>
<p>`OLLAMA_HOST=0.0.0.0`کونٹینر کو باahar سے کنکشنز قبول کرنے کی اجازت دیتا ہے۔</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>میں نے پورٹینر کے ذریعے اس اسٹیک ڈپلوی کردی، لیکن ایک سادہ`docker compose up -d`بہت اچھی طرح کام کرتا ہے.</p>
</div>
</div>
<div class="sect2">
<h3 id="_مرحلہ_3_عوامی_کلی_حاصل_کریں">مرحلہ 3: عوامی کلی حاصل کریں</h3>
<div class="paragraph">
<p>کونٹینر پہلے بار چلنے پر خالی ہونے کی وجہ سے، Ollama خود بخود وليم میں نئی SSH کی جوت بناتی ہے۔ ہم عمومی کلید حاصل کرتے ہیں:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-bash hljs" data-lang="bash">$ docker exec ollama-instance-b cat /root/.ollama/id_ed25519.pub
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDDQ+dvnfmuo49q5O8LOlvgZ39SKORFw47ry9k4H2jPc</code></pre>
</div>
</div>
<div class="paragraph">
<p>میں جانچ رہا ہوں کہ یہ کلید <strong>مختلف</strong> ہے اس nativos انسٹنس کی:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-bash hljs" data-lang="bash"># Instance native
$ cat /usr/share/ollama/.ollama/id_ed25519.pub
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGyF...(différente)

# Instance Docker
$ cat ~/ollama-b-data/id_ed25519.pub
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDDQ...(différente)</code></pre>
</div>
</div>
<div class="paragraph">
<p>دو الگ کلیدوں، دو alg شناختوں۔ بازی مکمل ہو گئی۔</p>
</div>
<div class="admonitionblock note">
<table>
<tr>
<td class="icon">
<i class="fa icon-note" title="ℹ️"></i>
</td>
<td class="content">
<div class="paragraph">
<p>اگر آپ کا کونٹینر ریستарт ہو جاتا ہے، وہ <strong>réutilise</strong> وولم میں موجود کلیدوں کو استعمال کرتا ہے۔ شناخت دائمی ہے۔ آپ Pro اکاؤنٹ کے ساتھ ربط نہیں گواؤں گے۔</p>
</div>
</td>
</tr>
</table>
</div>
</div>
<div class="sect2">
<h3 id="_مرحلہ_4_ollama_com_پر_کلید_محفوظ_کریں">مرحلہ 4 : Ollama.com پر کلید محفوظ کریں</h3>
<div class="paragraph">
<p>ہدایت <a href="https://ollama.com/settings/keys" class="bare">https://ollama.com/settings/keys</a> → SSH کلید شامل کریں. ہم ڈاکر انسٹنس کی عاملی کلید لاگتے ہیں اور تصدیق کرتے ہیں۔</p>
</div>
<div class="paragraph">
<p>پھر، ہم اس شناخت کو Pro B اکاؤنٹ سے جوڑتے ہیں:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-bash hljs" data-lang="bash">$ docker exec -it ollama-instance-b ollama signin</code></pre>
</div>
</div>
<div class="paragraph">
<p>براؤزر کھلتا ہے، ہم حساب B کے ایمیل سے لاگ‑ین کرتے ہیں، اور ٹوکن کینٹر کے SSH کلید سے منسلک ہے۔ ہم جانچتے ہیں کہ سب ٹھیک ہے :</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-bash hljs" data-lang="bash">$ docker exec -it ollama-instance-b ollama signin
User: cherolivpro</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_مرحلہ_5_ایک_چھوٹا_مفت_ماڈل_کے_ساتھ_آزمائش_کریں">مرحلہ 5: ایک چھوٹا مفت ماڈل کے ساتھ آزمائش کریں</h3>
<div class="paragraph">
<p>Pro subscription کی قیمت بلانے سے پہلے، میں یقینی ہونا چاہتا ہوں کہ پائپ کام کر رہا ہے۔ میں کنیکٹیویٹی کی تصدیق کرنے کے لیے ایک چھوٹا، مقامی اور مفت ماڈل pull کرتا ہوں۔</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-bash hljs" data-lang="bash">$ docker exec ollama-instance-b ollama pull qwen3:0.6b
pulling manifest
pulling 7f4030143c1c: 100% ▕██████████████████▏ 522 MB
success

$ curl -s http://localhost:11435/api/tags
{"models":[{"name":"qwen3:0.6b","model":"qwen3:0.6b",...}]}</code></pre>
</div>
</div>
<div class="paragraph">
<p>بندرگاہ`11435`جواب دیتا ہے، مودل خدمت ہے۔ انسٹینس B زندہ ہے۔</p>
</div>
<div class="paragraph">
<p>بےپروا ہونے پر، میں سچے کلاؤڈ پرو ماڈل کا pull leta ہوں:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-bash hljs" data-lang="bash">$ docker exec ollama-instance-b ollama pull deepseek-v4-pro:cloud
pulling manifest
pulling 31c3059e137e: 100% ▕██████████████████▏  344 B
success</code></pre>
</div>
</div>
<div class="paragraph">
<p>344 باٹس ایک cloud Model کے بيان کے لیے — عادی، استدلال سرور کے جانب سے ہوتا ہے، مقامی نہیں۔ اور یہ آخری امتحان :</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-bash hljs" data-lang="bash">$ curl -s http://localhost:11435/v1/chat/completions \
  -H "Content-Type: application/json" \
  -d '{"model":"deepseek-v4-pro:cloud","messages":[{"role":"user","content":"Dis bonjour en une phrase courte."}]}'

{
  "id": "chatcmpl-480",
  "model": "deepseek-v4-pro",
  "choices": [{
    "message": { "content": "Bonjour !" },
    "finish_reason": "stop"
  }],
  "usage": { "total_tokens": 181 }
}</code></pre>
</div>
</div>
<div class="paragraph">
<p>تمہارے لیے بھی سلام، انستنس B.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_api_v1models_کا_پچال">API <code>/v1/models</code> کا پچال</h2>
<div class="sectionbody">
<div class="paragraph">
<p>میں نے ایک بھول پری بات پر 20 منٹ گوا دے۔ جب میں نے پرووایڈر کو کنفیج کیا۔`ollama-b`اوپن کوڈ میں، ماڈل سلیکٹر میں کچھ بھی نہیں دکھائی دادا۔ کچھ نہیں۔ بالکل نہیں۔</p>
</div>
<div class="paragraph">
<p>وجہ؟ API`/v1/models`بائنستنس B واپس آ رہا تھا`{"object":"list","data":null}`کی جگہ`{"object":"list","data":[]}`کوئی مڈل pull نہیں ہوا تھا۔ قیمت`null`OpenCode طرف parsing کو خراب کر رہا تھا، جو provider کو دکھا رہا نہ تھا۔</p>
</div>
<div class="paragraph">
<p>حل: OpenCode کی تنظیم میں ماڈلز <strong>واضح طور پر</strong> ظاہر کریں، ڈائنامک ڈسکوفری پر انحصار کرنے کی بجائے۔</p>
</div>
<div class="listingblock">
<div class="title">~/.config/opencode/opencode.json</div>
<div class="content">
<pre class="highlightjs highlight"><code class="language-json hljs" data-lang="json">{
  "$schema": "https://opencode.ai/config.json",
  "provider": {
    "ollama": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "Ollama (local)",
      "options": { "baseURL": "http://localhost:11434/v1" },
      "models": {
        "gemma4:e2b": { "name": "Gemma 4 E2B (local)" }
      }
    },
    "ollama-b": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "Ollama Instance B (Docker)",
      "options": { "baseURL": "http://localhost:11435/v1" },
      "models": {
        "qwen3:0.6b": { "name": "Qwen3 0.6B (B)" },
        "deepseek-v4-pro:cloud": { "name": "DeepSeek V4 Pro (B)" }
      }
    }
  }
}</code></pre>
</div>
</div>
<div class="paragraph">
<p>یہ صریح بیانات کے ساتھ، OpenCode فوراً پروائرڈر B اور اس کے ماڈلز کو دیکھتا ہے۔ سیشن کے ری-اسٹارت کے ساتھ، اور سلیکٹر`/models`دو انستنس کو ایک دوسرے کے ساتھ ساتھ دکھاتا ہے</p>
</div>
<div class="admonitionblock tip">
<table>
<tr>
<td class="icon">
<i class="fa icon-tip" title="💡"></i>
</td>
<td class="content">
<div class="paragraph">
<p>اگر آپ کا کاسٹوم پرووائدر میں نہیں دیکھتے ہیں`/models`, تین گھنٹے ضائع نہ کریں اپنا ٹرمینل ریسٹرٹ کرنے میں۔ مودیلز کو داخل manually declare کریں`opencode.json`— یہ مسئلے کو فوراً حل کر دیتا ہے۔</p>
</div>
</td>
</tr>
</table>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_نتیجہ_دو_سیشنز_دو_اکاؤنٹس_صفر_تنازع">نتیجہ : دو سیشنز، دو اکاؤنٹس، صفر تنازع</h2>
<div class="sectionbody">
<div class="paragraph">
<p>اخیراً، میں دوی سیشن OpenCode ایک ساتھ لا سکتا ہوں:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-text hljs" data-lang="text">Session 1 → /models → Ollama (local) → deepseek-v4-pro:cloud → Compte A
Session 2 → /models → Ollama Instance B (Docker) → deepseek-v4-pro:cloud → Compte B</code></pre>
</div>
</div>
<div class="paragraph">
<p>ہر سیشن کا اپنا کوٹا، اپنا ریت لائмит ہوتا ہے، اور وہ اپنے پاوں پر نہیں چلتا۔ اسی مشین، اسی نیلی کارڈ، دو مختلف ایمیل۔</p>
</div>
<div class="paragraph">
<p>اور سب سے اچھا؟ ڈاکر کنٹینر ہے`restart: always`۔ یہ سسٹم کے ریبوٹس کے بعد بھی دستی مداخلہ کے بغیر زندہ رہتا ہے۔</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_سیکھے_گئے_سیکھات">سیکھے گئے سیکھات</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p><strong>ڈاکر سب کچھ کو الگ کر دیتا ہے، پہچان کو بھی</strong>ایک سادہ bind mount وائلوم بس کافی ہے کہ ایک کینٹینر کو apne apni SSH کیز کا apna سٹ عطا کرے، جس سے وہ Ollama کی نظر میں ایک مختلف فیزیکی مشین سے منٹہ ہو جاتی ہے۔</p>
</li>
<li>
<p><strong>دو ای میل، ہی سیبی</strong>— Ollama ایک ہی ادائیگی کے طریقے سے کثیر اشتراكات کو بلاک نہیں کرتا۔ صرف ایمیل مختلف ہونا چاہیے۔</p>
</li>
<li>
<p><strong>پائل سے پہلے مفت ٹسٹ کریں</strong> — Un <code>ollama pull qwen3:0.6b</code> (modèle libre, 522 Mo) permet de valider toute la chaîne réseau sans débourser un centime. Vous validez le plomberie d&#8217;abord, vous activez le Pro ensuite.</p>
</li>
<li>
<p><strong>/v1/models` میں <code>data: null</code> توڑ دیتا ہے OpenCode</strong>— اگر آپ ایک کاسٹم پرووائڈر کو سیٹ کرتے ہیں ساتھ`"models": {}`, OpenCode API کے ذریعے مودلز تلاش کرنے کی کوشش کرتا ہے۔ اگر API جواب دے`data: null`, پروائڈر نظر نہیں آتا۔ مودیلز کو واضع طور پر ایلان کریں۔</p>
</li>
<li>
<p><strong>دو اکاؤنٹ، یہ انسانی ملٹی-پروسسنگ ہے</strong>— ایک اکاؤنٹ Pro = فعال OpenCode سیشن۔ دو اکاؤنٹ = دو متوازی سیشنز۔ کسی شخص کے لیے جو ایک ساتھ مختلف Gradle پروجيکٹس کے درمیان جگلا رہا ہے، یہ ایک گیم چینجر ہے۔</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_مزید_آگے_جانے">مزید آگے جانے</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="https://ollama.com/settings/keys">Ollama Settings — SSH کلیز کا انتظام</a></p>
</li>
<li>
<p><a href="https://docs.ollama.com/">Ollama کی رسمی دستاویزات</a></p>
</li>
<li>
<p><a href="https://hub.docker.com/r/ollama/ollama">ڈاکر Hub پر ڈاکر Ollama ایمیج</a></p>
</li>
<li>
<p><a href="https://opencode.ai/docs/providers/#ollama">OpenCode — Configuration Provider Ollama</a></p>
</li>
</ul>
</div>
<hr>
<div class="paragraph">
<p><em>منتشر شدہ مضمون 2026-05-08</em></p>
</div>
</div>
</div></div>

            <!-- Articles connexes (liens internes SEO) -->
            
                
                    <section class="mt-5 pt-4 border-top">
                        <h2 class="h4 mb-3">متعلقہ مضامین</h2>
                        
                            
                                <div class="mb-2">
                                    <a href="../../blog/2026/0126_hyperframes_asciidoc_video_post.html" class="fw-semibold">HyperFrames-Gradle : AsciiDoc کو MP4 ویدیو میں تبدیل کرنا</a>
                                    <br/><small class="text-muted">31 May 2026</small>
                                </div>
                            
                        
                            
                                <div class="mb-2">
                                    <a href="../../blog/2026/0125_audit_conso_opencode_methodologie_comparaison_prix_llm_post.html" class="fw-semibold">میری LLM استعمال کا جائزہ: SQLite, OpenCode, Ollama Cloud، اور کیوں میرا پرو اشتراك عالمی بازار کو توڑ دیتا ہے</a>
                                    <br/><small class="text-muted">18 May 2026</small>
                                </div>
                            
                        
                            
                                <div class="mb-2">
                                    <a href="../../blog/2026/0124_architecture_plugin_gradle_racine_consommateur_independant_post.html" class="fw-semibold">معماریت « پلاگن انڈپینڈنٹ + کنسمر رٹ » : کیوں میری گریڈل بیلڈز ڈبل ہو جاتی ہیں؟</a>
                                    <br/><small class="text-muted">14 May 2026</small>
                                </div>
                            
                        
                            
                                <div class="mb-2">
                                    <a href="../../blog/2026/0123_knowledge_graph_moteur_recommandation_articles_connexes_post.html" class="fw-semibold">Knowledge Graph سفارش کرنے والا انجن کے طور پر: میں نے киسے تاريخي “مرتبط مضامين” کو ختم کر دیا</a>
                                    <br/><small class="text-muted">12 May 2026</small>
                                </div>
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                    </section>
                
            

            <!-- Section Commentaires Disqus -->
            <section id="disqus_thread" class="mt-5"></section>
            <script>
                /*<![CDATA[*/
                var disqus_identifier = "blog\/2026\/0120_cumuler_deux_abonnements_ollama_pro_docker_post.html";

                (({disqus_shortname, document}) => {
                    injectScript('//' + disqus_shortname + '.disqus.com/embed.js');
                    injectScript('//' + disqus_shortname + '.disqus.com/count.js');

                    function injectScript(url) {
                        const s = document.createElement('script');
                        s.async = true;
                        s.src = url;
                        (document.head || document.body).appendChild(s);
                    }
                })({'disqus_shortname': 'cheroliv', 'document': document});
                /*]]>*/
            </script>
            <noscript>
                <div class="alert alert-warning">
                    Veuillez activer JavaScript pour voir les
                    <a href="https://disqus.com/?ref_noscript" class="alert-link">commentaires propulsés par Disqus</a>.
                </div>
            </noscript>

        </article>
    </main>
</div>

<div>
    <!-- Footer -->
    <footer class="enhanced-footer">
        <div class="container">
            <div class="row">
                <!-- Brand Section -->
                <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                    <h5 class="fw-bold">
                        <i class="bi bi-code-slash me-2"></i>
                        CHEROLIV
                    </h5>
                    <p class="footer-description">
                        Développeur formateur spécialisé en ingénierie pédagogique.
                        Conception de solutions e-learning innovantes pour transformer l'apprentissage.
                    </p>
                    <div class="social-icons">
                        <a href="https://github.com/cheroliv" target="_blank" aria-label="گیٹ ہب">
                            <i class="fab fa-github"></i>
                        </a>
                        <!--                        <a href="#" aria-label="LinkedIn">-->
                        <!--                            <i class="fab fa-linkedin-in"></i>-->
                        <!--                        </a>-->
                        <!--                        <a href="#" aria-label="Twitter">-->
                        <!--                            <i class="fab fa-twitter"></i>-->
                        <!--                        </a>-->
                        <a href="feed.xml" aria-label="RSS فِیڈ">
                            <i class="fas fa-rss"></i>
                        </a>
                        <a href="../../index.html#contact" aria-label="رابطہ">
                            <i class="fas fa-paper-plane"></i>
                        </a>
                    </div>
                </div>

                <!-- Quick Links -->
                <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                    <h6 class="fw-bold">نیویگیشن</h6>
                    <ul class="footer-links">
                        <li><a href="../../index.html"><i class="bi bi-chevron-right"></i>صفحہ اول</a></li>
                        <!--                        <li><a th:href="${content.rootpath} + 'index.html#about'"><i class="bi bi-chevron-right"></i>À propos</a></li>-->
<!--                        <li><a th:href="${content.rootpath} + 'index.html#services'"><i class="bi bi-chevron-right"></i>Services</a></li>-->
                        <!--                        <li><a th:href="${content.rootpath} + 'index.html#portfolio'"><i class="bi bi-chevron-right"></i>Portfolio</a></li>-->
                        <li><a href="../../blog.html"><i class="bi bi-chevron-right"></i>بلاگ</a></li>
                    </ul>
                </div>

                <!-- Resources -->
                <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                    <h6 class="fw-bold">وسائل</h6>
                    <ul class="footer-links">
                        <!--                        <li><a th:href="${content.rootpath} + 'index.html#formations'"><i class="bi bi-book"></i>Formations</a></li>-->
<!--                        <li><a th:href="${content.rootpath} + 'blog.html'"><i class="bi bi-journal-text"></i>Articles</a></li>-->
                        <li><a href="../../archive.html"><i class="bi bi-archive"></i>آرکائیو</a></li>
<!--                        <li><a><i class="bi bi-journal-bookmark"></i>Mémos</a></li>-->
                        <li><a href="https://pages-content.github.io/slides/" target="_blank"><i class="fa-regular fa-file-powerpoint"></i> سلائیڈز</a></li>
                        <li><a href="https://talaria-formation.github.io/formations/index.html" target="_blank"><i class="fa-solid fa-graduation-cap"></i> تربیتیں</a></li>
                        <li><a href="https://cheroliv.com/magic-stick/" target="_blank"><i class="fa-brands fa-linux"></i> بوٹ ایبل کلید</a></li>
                        <!--                        <li><a href="#"><i class="bi bi-file-earmark-pdf"></i>Documentation</a></li>-->
                        <!--                        <li><a href="#"><i class="bi bi-youtube"></i>Tutoriels vidéo</a></li>-->
                    </ul>
                </div>

                <!-- Contact Section -->
<!--                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">-->
<!--                    <h6 class="fw-bold">Me contacter</h6>-->
<!--                    <p class="mb-3">Une question ? Un projet ? N'hésitez pas à me contacter.</p>-->
<!--                    <ul class="contact-info">-->
<!--                        <li>-->
<!--                            <i class="bi bi-envelope-fill"></i>-->
<!--                            <a th:href="${content.rootpath} + 'index.html#contact'">-->
<!--                                Formulaire de contact-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <i class="bi bi-clock-fill"></i>-->
<!--                            <span>Réponse sous 24-48h</span>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->

                <!-- Location Section -->
                <div class="col-lg-3 col-md-6">
                    <h6 class="fw-bold">مقام</h6>
                    <p class="mb-3">Basé en région parisienne, interventions possibles en France et à distance.</p>
                    <ul class="contact-info">
                        <li>
                            <i class="bi bi-geo-alt-fill"></i>
                            <span>Île-de-France, France</span>
                        </li>
                        <li>
                            <i class="bi bi-globe"></i>
                            <span>Télétravail disponible</span>
                        </li>
                        <li>
                            <i class="bi bi-pin-map-fill"></i>
                            <span>Déplacements en France</span>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Footer Bottom -->
            <hr class="footer-divider">
            <div class="footer-bottom">
                <p>&copy; 2018-<span>2026</span> Cheroliv. Tous droits réservés.</p>
                <div class="footer-bottom-links">
                    <a href="#">Politique de confidentialité</a>
                    <a href="#">Conditions d'utilisation</a>
                    <a href="#">Mentions légales</a>
                    <a href="#">Plan du site</a>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap 5.3 JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <!-- Firebase JS SDK (modular) — modulepreload avec SRI (les import ES n'acceptent pas integrity) -->
    <link rel="modulepreload" href="https://www.gstatic.com/firebasejs/11.6.0/firebase-app.js" integrity="sha384-P+iFrwsiok461zJMFNzaLCJ6d5taHsN2f/1LvJIbpS0rtmujFeLbSOgCXf/crZvt" crossorigin="anonymous">
    <link rel="modulepreload" href="https://www.gstatic.com/firebasejs/11.6.0/firebase-firestore.js" integrity="sha384-6QxeL5G6MDbdIGSX2HReBbwKEUGqiWqrrPjOdXy5yiS4yusI+qIuowuPhggbLsPm" crossorigin="anonymous">
    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/11.6.0/firebase-app.js";
        import { getFirestore, collection, addDoc, serverTimestamp } from "https://www.gstatic.com/firebasejs/11.6.0/firebase-firestore.js";

        const firebaseConfig = {
            apiKey: "REMPLACER_PAR_VOTRE_API_KEY",
            authDomain: "REMPLACER_PAR_VOTRE_AUTH_DOMAIN",
            projectId: "REMPLACER_PAR_VOTRE_PROJECT_ID",
            storageBucket: "REMPLACER_PAR_VOTRE_STORAGE_BUCKET",
            messagingSenderId: "REMPLACER_PAR_VOTRE_SENDER_ID",
            appId: "REMPLACER_PAR_VOTRE_APP_ID"
        };

        const app = initializeApp(firebaseConfig);
        const db = getFirestore(app);

        window.__FIREBASE__ = { db, collection, addDoc, serverTimestamp };
    </script>
    <!-- highlight.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js" integrity="sha384-RH2xi4eIQ/gjtbs9fUXM68sLSi99C7ZWBRX1vDrVv6GQXRibxXLbwO2NGZB74MbU" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/go.min.js" integrity="sha384-HdearVH8cyfzwBIQOjL/6dSEmZxQ5rJRezN7spps8E7iu+R6utS8c2ab0AgBNFfH" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/groovy.min.js" integrity="sha384-Tm1Og6d1FV5GOFgkfZWi7DcSeMEA05xEeZfifgFC5IH6xxfoXwg5PaNNxrX4yinC" crossorigin="anonymous"></script>
    <script>hljs.highlightAll();</script>
    <!-- intl-tel-input JS -->
    <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@25.10.1/build/js/intlTelInput.min.js" integrity="sha384-tu2ddrBDiy1H44Ve2/1KjirLOOghLqZja42n/44oo+uDwcXF5oaxhu6Xi2zZr9nE" crossorigin="anonymous"></script>
    <!-- Custom JS -->
    <script src="../../js/script.js"></script>
    <script src="../../js/contact.js"></script>
<!-- CONTACT-SEC: bakery — Turnstile API (async, non bloquant) -->
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
</div>
</body>
</html>
